/** These styles are used in your backend editor. **/

/*
colors
@brand-primary  #428bca = #a50050 = gem1 - main pink
@brand-success  #5cb85c = #00b2a9 = gem2 - teal accent
@brand-info     #5bc0de = #b20056 = gem3 - dk pink
@brand-warning  #f0ad4e = #f20075 = gem4 - lt pink (bright)
@brand-danger   #d9534f = #650031 = gem5 - dk dk pink 

Grays
#2a2a2a - dk dk gray
#555    - dk gray
#808080 - md gray
#ABABAB - lt gray
#D5D5D5 - lt lt gray

gray
@gray-darker  = lighten(#000, 13.5%)
@gray-dark    = lighten(#000, 20%)
@gray         = lighten(#000, 33.5%)
@gray-light   = lighten(#000, 60%)
@gray-lighter = lighten(#000, 93.5%)
*/

.rd-main-pink {
    color:#a50050;
}
.rd-teal-accent {
    color:#00b2a9;
}
.rd-dk-pink {
    color:#b20056;
}
.rd-lt-pink {
    color:#f20075;
}
.rd-dkdk-pink {
    color:#650031;
}